* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1200px;    
}


/* LOGO */
.container {
    line-height: 3;
    margin-left: 20px;
    padding: 0;
}

img {
    vertical-align: middle;
}

.logotext {
    font-size: 30px;
    vertical-align: middle;
}

/* FINE LOGO */
/* INIZIO MAIN */
/* DIV SFONDO WHITESMOKE */

.container2 {
    height: 1400px;
    background-color: whitesmoke;
    margin-top: 5px;
    
}

/* DIV CONTENUTO CENTRALE LISTA */

.container3 {
    width: 800px;
    height: auto;
    background-color: white;
    border-top: 40px solid whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    padding-left: 3%;
}

.container4 {
    width: 800px;
    height: auto;
    background-color: white;
    border-top: 4px solid whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    padding-left: 3%;
}

/* INIZIO LISTA */

.list {
    list-style-type: none;
}

li {
    margin-bottom: 5%;
}

.editorial {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.editorial2 {
    background-color: rgb(214, 67, 233);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.editorial3 {
    background-color: rgb(109, 207, 144);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.editorial4 {
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
    color: white;
}