* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1200px;    
}


/* LOGO */
.container {
    line-height: 3;
    margin-left: 20px;
    padding: 0;
}

img {
    vertical-align: middle;
}

.logotext {
    font-size: 40px;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.5;
    font-family: Poppins, Garamond;
}

/* FINE LOGO */
/* INIZIO MAIN */

/* DIV SFONDO WHITESMOKE */

.container2 {
    height: 800px;
    background-color: whitesmoke;
    margin-top: 5px;
}

/* DIV CONTENUTO CENTRALE LISTA */

.container3 {
    width: 800px;
    height: auto;
    background-color: white;
    border-top: 40px solid whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    padding-left: 3%;
}

#butt1 {
    color: white;
    background-color: lightskyblue;
    padding: 1%;
    border: 1px solid rgb(135, 206, 250, 0.5);
    border-radius: 5px;
}

#butt2 {
    color: lightgray;
    background-color: white;
    padding: 1%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 5px;
}

.container4 {
    width: 800px;
    height: auto;
    background-color: white;
    border-top: 4px solid whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    padding-left: 3%;
}

/* INIZIO LISTA */

.container4 ul {
    list-style-type: none;
}

li {
    margin-bottom: 5%;
}

/* COLORI DELLE MANSIONI LISTA */

.editorial {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.q1goals {
    background-color: rgb(214, 67, 233);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.recruiting {
    background-color: rgb(109, 207, 144);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.mobile {
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.website {
    background-color: rgb(218, 94, 160);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.sales {
    background-color: limegreen;
    padding: 10px;
    border-radius: 15px;
    color: white;
}